// @use './variables' as *; 불러오기
// color: $color-primary 사용

// 폰트 패밀리
$font-family-kr: 'Pretendard', sans-serif; // 국문
$font-family-en: 'SlowGothic', sans-serif; // 영문 (뉴보림 고딕)

// 폰트 크기 (px / 16)
$font-size-40: 2.5rem; // 40px
$font-size-25: 1.5625rem; // 25px
$font-size-24: 1.5rem; // 24px
$font-size-21: 1.3125rem; // 21px
$font-size-18: 1.125rem; // 18px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-13: 0.8125rem; // 13px
$font-size-12: 0.75rem; // 12px
$font-size-11: 0.6875rem; // 11px
$font-size-10: 0.625rem; // 10px

// 폰트 굵기
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// 메인 색상
$color-primary: #ffb134; // #ffb134 -> #ffad34 변경
$color-primary-accent: #ffa449;
$color-primary-soft: #ffebd8;
$color-primary-light: #fcf5ef;
$color-primary-deep: #fe7e35;
$color-sub: #fefefe;
$color-text: #1a1a1a;

// 기본 색상
$color-black: #1a1a1a;
$color-white: #fefefe;

// 그레이 스케일 - 브라운 계열
$color-brown5: #251300;
$color-brown4: #4a2b0c;
$color-brown3: #aa6826;
$color-brown2: #d0a070;

// 그레이 스케일 - 뉴트럴 계열
$color-gray5: #6c655a;
$color-gray-medium: #958f84;
$color-gray4: #cbc6bf;
$color-gray-disabled: #d9d9d9;
$color-gray3: #e3dcd6;
$color-gray2: #f6f3f0;
$color-gray-placeholder: #999999;

// 시스템 색상
$color-system-blue: #005eff;
