@use '@/styles/variables' as *;
@use '@/styles/function' as *;

.container {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 100%;
  max-width: 430px;
  height: 90px;
  padding: 29px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background-color: $color-white;
  border-radius: 0 50px 0 0;
  box-shadow: 6px -8px 15px 0 rgba(182, 137, 65, 0.1);
  transform: translateX(-50%);
}

.navItem {
  @include flex;

  justify-self: center;
  width: 32px;
  height: 32px;
  color: $color-gray4;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease;

  svg {
    width: 20px;
    height: 20px;
  }

  &:active {
    transform: scale(0.94);
  }

  &:focus-visible {
    outline: 2px solid $color-brown3;
    outline-offset: 2px;
  }
}

.active {
  color: $color-white;
  background-color: #ffad34;
  box-shadow: 0 4px 8px rgba($color-brown3, 0.14);
}
